.goUp{
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: var(--text-primary);
    transition: color 0.35s ease-in;
   
}

.goUp:hover{
    color: grey;
}



html{
    scroll-behavior: smooth;
}